/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Poppins", "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

* {
    font-family: "Poppins", "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Montserrat", sans-serif;
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;

}

.content-sidebar > *:nth-child(1) {
    overflow: hidden;
    flex: 1 1 60%;
    background-color: rgba(19, 141, 117, 1);
    height: 389px;
}

.my-work-title {
    text-align: center;
    line-height: 8;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: 3px underline solid rgba(255, 255, 255, 0.4);
}

.my-work-info {
    text-align: center;
    line-height: 1;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins", "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 5%;
}


/* .content-sidebar > *:nth-child(1) h2 {
    text-align: center;
    line-height: 14;
} */

.content-sidebar > *:nth-child(2) {
    overflow: hidden;
    flex: 1 1 40%;
}

.content-sidebar >*:nth-child(2) img {
    image-resolution: from-image;
    min-width: max-content;
    object-position: center;
    object-fit: contain;
    display: inline-block;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    row-gap: 15px;
}

.gr {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-left: auto;
    padding-left: 7%;
    padding-right: 5%;
}

img {
    max-width: 100%;
}

.port-title {
    /*color: rgba(30, 130, 76, 1);*/
    color: rgba(0, 128, 0, 1);
    font-size: 20px;
}

.img-hover-zoom {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    border: 5px white solid;
}

.img-hover-zoom img {
    transition: transform .2s ease-out;
}

.img-hover-zoom:hover img {
    transform: scale(1.03);
}


@media only screen and (max-width: 1060px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

    }

    .gr {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        padding-right: 5%;
        padding-left: 17%;
        /*margin-left: auto;*/
        /*padding-left: 10%;*/

    }
}

@media only screen and (max-width: 888px) {
    .gr {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 800px) {
    .content-sidebar {
        display: flex;
        flex-wrap: wrap;
        /*padding: 5%;*/
        /*width: 640px;*/

    }
    .content-sidebar > *:nth-child(2) {
        flex: 0 1 100%;
        flex-direction: column;
    }
    .content-sidebar > *:nth-child(2) img {
        width: 768px;
    }
    .my-work-info {
        line-height: 1;
        padding: 10%;
    }
}