/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Poppins", "Montserrat", sans-serif;
}

li, a {
    font-family: "Poppins", Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75% 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 12px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    /*color: rgba(255, 255, 255, 0.1);*/
    color: lightskyblue;
}

.fa_bar i {
    display: none;
}

.quick-para {
    margin: 0px auto;
    padding: 5px 1px;
    text-align: center;
    font-style: italic;
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;

}

.content-sidebar > *:nth-child(1) {
    overflow: hidden;
    flex: 1 0 50%;
    background-color: rgba(19, 141, 117, 1);
    flex-shrink: 0;
}

.content-sidebar > *:nth-child(1) h2 {
    text-align: center;
    line-height: 14;
}

.content-sidebar > *:nth-child(2) {
    flex: 1 1 50%;

}

/* Box */
.portfolio-page-wrapper {
    margin: 15px;
    background-color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.gr {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-left: auto;
    padding-left: 10%;

}


img {
    max-width: 85%;
}

.port-title {
    color: rgba(19, 141, 117, 1);
}

.img-hover-zoom {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    border: 5px white solid;
}

.img-hover-zoom img {
    transition: transform .2s ease-out;
}

.img-hover-zoom:hover img {
    transform: scale(1.03);
}
@media only screen and (max-width: 1000px) {
    .nav
}

@media only screen and (max-width: 800px) {
    .content-sidebar {
        display: flex;
        flex-wrap: wrap;
        padding: 5%;
    }
    .content-sidebar > *:nth-child(1) {

        padding: 5%;
    }
    .content-sidebar > *:nth-child(2) {
        /* flex: 0 0 100%; */
        flex-direction: row;
        overflow: hidden;

    }
}

